@using static ProjectAirsoft.Common.ApplicationConstants;

@if (TempData[AlertDanger] != null)
{
	<div class="alert alert-danger alert-dismissible fade show" role="alert">
		@TempData[AlertDanger]
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
}

@if (TempData[AlertSuccess] != null)
{
	<div class="alert alert-success alert-dismissible fade show" role="alert">
		@TempData[AlertSuccess]
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
}