@using ProjectAirsoft.ViewModels.Team;
@model TeamJoinViewModel

@{
	string teamName = Model.Name;
	ViewData["Title"] = $"Join {teamName}";
}

<h2>@ViewData["Title"]</h2>

<hr />

<img src="@Model.LogoUrl" height="400" />
<h4>@Model.Name</h4>
<p>@Model.City</p>

<p class="text-success mt-3">Are you sure you want to join this team?</p>

<form asp-action="Join" method="post">
	<input type="hidden" asp-for="Id" />
	<button type="submit" class="btn btn-outline-success"><i class="bi-check2-square me-2"></i>Confirm Join</button>
	<a asp-action="Index" class="btn btn-outline-secondary"><i class="bi-arrow-left-circle me-2"></i>Cancel</a>
</form>