@using ProjectAirsoft.ViewModels.Game;
@model GameCreateViewModel

@{
	ViewData["Title"] = "Create New Game";
}

<h2>Create a New Game</h2>

<form asp-action="Create" class="mt-4" method="post">
	@Html.AntiForgeryToken()

	<div class="form-group mb-3">
		<label asp-for="Name" class="control-label fw-bold"></label>
		<input asp-for="Name" class="form-control" />
		<span asp-validation-for="Name" class="text-danger fst-italic"></span>
	</div>

	<div class="form-group mb-3">
		<label asp-for="Description" class="control-label fw-bold"></label>
		<input asp-for="Description" class="form-control" />
		<span asp-validation-for="Description" class="text-danger fst-italic"></span>
	</div>

	<div class="form-group mb-3">
		<label asp-for="ImageUrl" class="control-label fw-bold"></label>
		<input asp-for="ImageUrl" class="form-control" />
		<span asp-validation-for="ImageUrl" class="text-danger fst-italic"></span>
	</div>

	<div class="form-group mb-3">
		<label asp-for="Date" class="control-label fw-bold"></label>
		<input asp-for="Date" class="form-control" />
		<span asp-validation-for="Date" class="text-danger fst-italic"></span>
	</div>

	<div class="form-group mb-3">
		<label asp-for="Capacity" class="control-label fw-bold"></label>
		<input asp-for="Capacity" class="form-control" />
		<span asp-validation-for="Capacity" class="text-danger fst-italic"></span>
	</div>

	<div class="form-group mb-3">
		<label asp-for="Fee" class="control-label fw-bold"></label>
		<input asp-for="Fee" class="form-control" />
		<span asp-validation-for="Fee" class="text-danger fst-italic"></span>
	</div>

	<div class="form-group mb-3">
		<label asp-for="TerrainId" class="control-label fw-bold">Select terrain</label>
		<select asp-for="TerrainId" class="form-control" asp-items="@(new SelectList(Model.Terrains, "Id", "Name"))">
			<option value="">Select terrain...</option>
		</select>
		<span asp-validation-for="TerrainId" class="text-danger fst-italic"></span>
	</div>

	<div class="form-group mt-4">
		<button type="submit" class="btn btn-primary">Add Game</button>
	</div>
	<a asp-action="Index" class="btn btn-secondary mt-2">Back to All Games</a>
</form>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
