@using ProjectAirsoft.ViewModels.Terrain;
@model TerrainStatusViewModel

@{
	ViewData["Title"] = "Change Status of Terrain";
}

<h2>@ViewData["Title"]</h2>

<hr />

<h4>@Model.Name</h4>
<p>@Model.City</p>

<p class="text-warning mt-3">Are you sure you want to change the status to Inactive of this terrain?</p>

<form asp-action="Status" method="post">
	<button type="submit" class="btn btn-outline-warning">Yes, Set to Inactive</button>
	<a asp-action="Index" class="btn btn-outline-secondary">Cancel</a>
</form>